body {
  margin: 0;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: #0f0c29;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

canvas{display:block}
h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 11em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}


.show-modal {
  font-size: 4em;
  position: absolute;
  top: 70%;
  left: 30%;
  width: 600px;
  height: 160px;
  margin-top: -20px;
  margin-left: -75px;
  background: #d72f2f;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 12px;
}

.show-modal:hover {
  background: #d63f3f;
}

.show-modal:active {
  transform: scale(0.9);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #302e2ed2;
  color: #fff;
  cursor: pointer;
  border: 2px;
  border-radius: 15px;
}

.mask-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F3F7FF;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 800px;
  height: 800px;
  margin-left: -200px;
  margin-top: -150px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
}

.active {
  visibility: visible;
  opacity: 1;
}

.modal-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  display: flex;
}
